@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100vw;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: auto;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.black-heart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 100px;
}

.magnifying-glass {
  width: 30px;
  background-color: rgba(0,0,0,.05);
}

#join {
  border: 1px solid black;
  text-decoration: none;
  padding: 5px 30px;
  color: black;
}

#login {
    text-decoration: none;
    color:black;
    padding: 5px 30px;
}

.secondary-header {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  width: auto;
}
.header-form {
  display: flex;
  padding: 10px 0;  
} 

.header-form button {
  background-color: #fb3e44;
  color: white;
  padding: 10px 20px;
  border: none;
}

.header-form input {
  color: rgba(0, 0, 0, 0.05);
  width: 600px;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
}



#main {
  height: 600px;
  background-color: RGBA(232, 217, 217, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

#main h1 {
  font-size: 5rem;
  font-weight: bold;
}

#main article {
  margin-bottom: 15px;
  padding-bottom: 30px;
}

#main article {
  width: 30%;
}

#main .red {
  background-color: #fb3b49;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 20px 20px;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  margin-right: 15px;
}

#main .white {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: white;
  padding: 20px 20px;
  margin-left: 15px;
}

#main div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

#main div > a {
  padding: 10px;
  width: 250px;
  text-align: center;
}


#description {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description img {
  width: 15%;
  padding-bottom: 25px;
}

#description h2 {
  font-weight: bold;
  font-size: 2.5rem;
  background-color: rgba(255,204,53,.4);
  font-style: italic;
  padding: 0 55px;
  transform: skew(9deg,0deg);
}

#description article {
  width: 40%;
  text-align: center;
}